<%= render 'shared/errors', obj: @review %>

<div class="page-movie-show">
  <div class="row page-movie-show__movie-container">
    <div class="col-md-4 page-movie-show__fig-container">
      <figure class="page-movie-show__fig">
        <%= image_tag @movie.image, class: 'page-movie-show__img' %>
      </figure>
    </div>
    <div class="col-md-8 page-movie-show__details">
      <h4 class="page-movie-show__title">
        <%= @movie.title %>
      </h4>
      <div class="page-movie-show__release-date">
        <%= @movie.release_date.strftime("%B %d, %Y") %>
      </div>
      <div class="page-movie-show__avg-rating">
        <% if @movie.reviews.count > 0 %>
          Average Rating: <%= @movie_avg %>
        <% else %>
          No Reviews Yet!
        <% end %>
      </div>
      <div class="page-movie-show__description">
        <strong>Synopsis:</strong> <%= @movie.synopsis %>
      </div>
    </div>
  </div>
  
  <%= render 'reviews/form' %>

  <%= render 'reviews/review_list', reviews: @movie.reviews %>

</div>
