<div class="page-review-show col-md-12">
  <h3 class="page-review-show__pg-title">Review for <%= @review.movie.title %></h3>
  <div class="review-list__heading clearfix">
    <div class="col-md-6 review-list__user">
      <div>User: <%= @review.user.full_name || @review.user.email %></div>
      <div>Rating: <%= @review.rating %>/5</div>
    </div>
    <div class="col-md-6 review-list__dates">
      <div>Date Created: <%= @review.created_at.strftime("%B %d, %Y") %></div>
      <div>Last Updated: <%= @review.updated_at.strftime("%B %d, %Y") %></div>
    </div>
  </div>
  <div class="col-md-12 review-list__review">
    <%= @review.review_body %>
  </div>
  <div class="col-md-12 review-list__view-more">
    <%= link_to 'Back to Movie', movie_path(@review.movie), class: 'btn btn-primary btn-xs' %>
    <% if @review.user.id == current_user.id %>
      <%= link_to 'Edit Review', edit_review_path(@review), class: 'btn btn-primary btn-xs' %>
    <% end %>
  </div>
</div>

